In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.filterwarnings("ignore")

In [15]:
df=pd.read_csv(r"C:\Users\yuvra\Downloads\train (1).csv")

In [16]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [18]:
#train-test
x_train,x_test,y_train,y_test =train_test_split(df.drop(columns=['Survived']),
df['Survived'],test_size=0.2,random_state=25)

In [19]:
#Applying Imputation
si_age =SimpleImputer()#age me replace with mean
si_embarked=SimpleImputer(strategy='most_frequent')#embarked me most frequent

In [20]:
#df.isnull().sum()
#we need to replace this null values so we are using imputer which defaul
#value is to replace the values with mean or we state with what

In [21]:
x_train_age = si_age.fit_transform(x_train[['Age']])
x_train_embarked =si_embarked.fit_transform(x_test[['Embarked']])

x_test_age= si_age.transform(x_test[['Age']])
x_test_embarked=si_embarked.transform(x_test[['Embarked']])

In [26]:
# One Hot Encoding 'Sex' and 'Embarked'

from sklearn.preprocessing import OneHotEncoder

# Initialize encoders
ohe_sex = OneHotEncoder(sparse=False, handle_unknown='ignore')
ohe_embarked = OneHotEncoder(sparse=False, handle_unknown='ignore')

# Fit and transform training data
x_train_sex = ohe_sex.fit_transform(x_train[['Sex']])
x_train_embarked = ohe_embarked.fit_transform(x_train[['Embarked']])

# Transform test data
x_test_sex = ohe_sex.transform(x_test[['Sex']])
x_test_embarked = ohe_embarked.transform(x_test[['Embarked']])